*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1920&q=90');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed; 
    color: #333;
    line-height: 1.6;
    overflow: hidden;
}
form{
    width: 300px;
    height: 200px;
    border: 3px solid whitesmoke;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin-top: 175px;
}
input{
    display: block;
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: none;
    border-right: none;
    border-top: none;
}
button{
    width: 60%;
    padding: 7px;
    margin-top: 15px ;
    background-color: red;
    color: white;
    border-color: white;
    cursor: pointer;
    border-radius: 10px;
}

h4{
    color: whitesmoke;
}
.opsi{
    border: 1px solid whitesmoke;
    width: 320px;
    margin:  513px auto;
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 30px ;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}
button:hover {
    background-color: red;
    color: #fff;
    transform: scale(1.05);
}

button:active {
  background-color: #1100ff;
  box-shadow: 0 5px #666;
  transform:rotateY('10');
}
.linklogin{
    color: white;
    text-decoration: none;
    padding: 5px;
}
a{
    font-weight: bold;
}
input:hover{
    background-color: white;
    color: #fff;
    transform: scale(1.05);
}
.buatakun{
    color: teal;
    text-decoration: none;
    font-weight: bold;
}